<div class="post-wrapper">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class="add-post">
    <h3>All Post</h3>
    <a [routerLink]="['add']"><mat-icon>add</mat-icon></a>
  </div>

  <mat-expansion-panel *ngFor="let post of data" hideToggle>
    <mat-expansion-panel-header [routerLink]="['details/', post._id]">
      <span>
        <mat-panel-title>
          <p>{{ post.updated | date }}</p>
        </mat-panel-title>
      </span>
      <span>
        <mat-panel-description>
          <h3>{{ post.postTitle }}</h3>
        </mat-panel-description>
      </span>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</div>
