<div class="main-wrapper">
  <span *ngIf="isLoadingResults" class="loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </span>
  <div class="unpcard-wrapper">
    <div class="unpcard" *ngFor="let post of posts">
      <div class="unpcard-header">
        <img src="{{ post.postImgUrl }}" alt="Photo of a Shiba Inu" />
      </div>
      <div class="unpcard-content">
        <small>Published: {{ post.updated | date }}</small>
        <h3>{{ post.postTitle }}</h3>
        <p>Author: {{ post.postAuthor }}</p>
      </div>
      <div class="unpcard-action">
        <i class="fas fa-heart"></i>
        <i [routerLink]="['/details/', post._id]" class="fas fa-eye"></i>
      </div>
    </div>
  </div>
</div>
