<div class="main-wrapper">
  <span *ngIf="isLoadingResults" class="loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </span>
  <div class="unpcard-wrapper">
    <mat-card class="unpcard" *ngFor="let post of posts">
      <span [routerLink]="['/details/', post._id]">
        <mat-card-header>
          <mat-card-header class="unpcard-header">
            <h4><span>Author</span> {{ post.postAuthor }}</h4>
            <p>
              <span>Published</span> {{ post.updated | date: "dd MMM yyyy" }}
            </p>
          </mat-card-header>
        </mat-card-header>
        <img src="{{ post.postImgUrl }}" alt="Post Image" />
        <mat-card-content class="unpcard-content">
          <h3>{{ post.postTitle }}</h3>
        </mat-card-content>
      </span>
    </mat-card>
  </div>
</div>
