<div class="details-wrapper">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card" [routerLink]="['/details/', post.id]">
    <mat-card-header>
      <h4><span>Author</span> {{ post.postAuthor }}</h4>
      <p><span>Published</span> {{ post.updated | date: "dd MMM yyyy" }}</p>
    </mat-card-header>
    <img src="{{ post.postImgUrl }}" alt="{{ post.postTitle }}" />
    <div class="margin">
      <mat-card-title>{{ post.postTitle }}</mat-card-title>
      <mat-card-subtitle>{{ post.postDesc }}</mat-card-subtitle>

      <mat-card-content [innerHTML]="post.postContent"></mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
