$border: 0 0 0px 1px #0000000e;

.post-detail-wrapper {
  padding: 0 35px;
  width: 50vw;
}

.backtopost {
  width: 100%;
  text-align: right;
  font-weight: 700;
  margin-bottom: 35px;
  &:focus {
    outline: none;
  }
  &:hover {
    color: #5921e5;
  }
}

.mat-card {
  line-height: 1.2em;
  overflow: hidden;
  box-shadow: none;
  box-shadow: $border;

  .mat-card-header {
    align-items: baseline;
    h4,
    p {
      font-weight: 700;
    }
    p {
      margin-left: 35px;
    }
    span {
      font-size: 0.5em;
      color: #aaa;
    }
  }

  h3 {
    line-height: 1.2em;
    font-size: 2em;
    font-weight: 700;
  }
  img {
    width: 100%;
  }

  .card-mar {
    padding: 35px;
  }
}

ol,
ul {
  list-style: outside;
}
