<div class="post-detail-wrapper">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <p class="backtopost" [routerLink]="['/post']">Back to post</p>
  <mat-card class="card">
    <img src="{{ post.postImgUrl }}" alt="{{ post.postTitle }}" />
    <div class="card-mar">
      <mat-card-content>
        <h3>{{ post.postTitle }}</h3>
        <span [innerHTML]="post.postContent"></span>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-flat-button
          color="primary"
          [routerLink]="['/post/edit', post.id]"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-flat-button color="warn" (click)="deletePost(post.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>

<!--       <mat-card-title
        ><h2>{{ post.postTitle }}</h2></mat-card-title
      >
      <p>
        Created by: {{ post.postAuthor }}, {{ post.created | date }}, updated:
        {{ post.updated | date }}
      </p>
      <mat-card-subtitle>{{ post.postDesc }}</mat-card-subtitle> -->
