<div class="wrapper">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Comming Soon
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="list">
      <mat-list-item role="listitem">Activity</mat-list-item>
      <mat-list-item role="listitem">My Posts</mat-list-item>
      <mat-list-item role="listitem">Bookmarks</mat-list-item>
      <mat-list-item role="listitem">Messages</mat-list-item>
      <mat-list-item role="listitem">Subscription</mat-list-item>
      <mat-list-item role="listitem">Groups</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</div>
