:host form {
  width: 30%;
  font-size: 18px;
}

:host form button {
  font-size: 18px;
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 10px;
}
:host .register {
  background: #5921e5;
  color: #fff;
}
