<div class="form-wrapper">
  <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
    <h3>
      Enter your email and password or create a new account.
    </h3>
    <mat-form-field appearance="outline" class="top-m example-full-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="username"
        [errorStateMatcher]="matcher"
      />
      <mat-error>
        <span
          *ngIf="
            !loginForm.get('username').valid &&
            loginForm.get('username').touched
          "
          >Please enter your username</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        [errorStateMatcher]="matcher"
      />
      <mat-error>
        <span
          *ngIf="
            !loginForm.get('password').valid &&
            loginForm.get('password').touched
          "
        >
          Please enter your password
        </span>
      </mat-error>
    </mat-form-field>

    <button
      type="submit"
      [disabled]="!loginForm.valid"
      class="login"
      mat-stroked-button
    >
      Login
    </button>

    <button
      class="register"
      mat-stroked-button
      type="button"
      (click)="register()"
    >
      Register
    </button>
  </form>
</div>
