$border: 0 0 0px 1px #0000000e;

.form-wrapper {
  height: 80vh;
  width: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  line-height: 2.5em;
  width: 60%;

  h3 {
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 700;
  }

  .mat-form-field,
  button {
    width: 100%;
    font-size: 1.2em;
  }

  button {
    padding: 17px 0;
    border-radius: 0;
  }

  & .register {
    margin-top: 1.5em;
    background: #5921e5;
    color: #fff;
  }
}

// :host form {
//   width: 30%;
//   font-size: 18px;
// }

// :host form button {
//   font-size: 18px;
//   width: 100%;
//   padding: 12px 20px;
//   margin-bottom: 10px;
// }
// :host .register {
//   background: #5921e5;
//   color: #fff;
// }
